<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Question 1</h2>
        <ul style="color: black; text-align: left;">
            <li>Flexible and Scalable Storage: Cloud platforms support diverse storage types, such as object storage, distributed file systems, and databases, enabling the storage of large datasets for AI projects. These storage solutions are highly scalable, accommodating the growing data requirements of real-world applications.</li>
            <li>High-Performance Computing Resources: Cloud platforms provide virtual machines equipped with efficient GPUs, powerful CPUs, and ample memory, ensuring the computational power needed to process large datasets and train complex AI models effectively.</li>
        </ul>
        <form action="/" method="post">
            <p><input type="submit" value="back"></p>
        </form>
    </div>
</body>
