<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Question 2</h2>
        <ul style="color: black; text-align: left;">
            <li>First, for the practical and widespread application of AI models, web applications are easy to use and highly accessible. They are not restricted to laptops but can also be used on handphones, making them suitable for today's mobile-centric society, where demand for such AI-powered solutions is growing. With user-friendly interfaces, web applications enable people to interact with AI models in a visually appealing and straightforward way, as long as they have access to a browser on any device.</li>
            <li>Second, from an AI model development perspective, offering intuitive and user-friendly interfaces can attract more users to engage with these models. This increased user interaction generates valuable feedback and data, ultimately contributing to the improvement and refinement of AI models.</li>
        </ul>
        <form action="/" method="post">
            <p><input type="submit" value="back"></p>
        </form>
    </div>
</body>
