<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Question 3</h2>
        <p style="color: black; text-align: left;">
            When handling high volumes of real-time data, cloud services often combine vertical scaling and horizontal scaling to support the scalability of AI projects.
        </p>
        <ul style="color: black; text-align: left;">
            <li>Vertical Scaling involves enhancing the computational resources of a single server. For instance, the server can be deployed more memory or upgraded with higher-performance GPUs to improve efficiency when processing demands increasing.</li>
            <li>Horizontal Scaling expands capacity by adding more computing and storage nodes. Also, horizontal scaling is flexible, which means it allows resources to be dynamically adjusted based on the volume of incoming data.</li>
        </ul>
        <form action="/" method="post">
            <p><input type="submit" value="back"></p>
        </form>
    </div>
</body>
