<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Question 4</h2>
        <ul style="color: black; text-align: left;">
            <li>First, web applications integrate AI models with backend systems, creating a unified platform that allows real-time interaction between users and AI models. This integration ensures that users can access immediate results, enabling dynamic interactions.</li>
            <li>Second, web applications provide user-friendly interfaces, making it easy for non-technical users to interact with complex AI systems.</li>
            <li>Third, web applications can be continuously improved and updated based on users feedback and can be customized by different user preferences and needs. This adaptability ensures AI models remain relevant and effective in real-world applications.</li>
        </ul>
        <form action="/" method="post">
            <p><input type="submit" value="back"></p>
        </form>
    </div>
</body>
