<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Question 5</h2>
        <ul style="color: black; text-align: left;">
            <li>When training models in real scenarios, cloud-based AI services offer high-performance computing resources and dynamic scaling during the training process. Some cloud providers even offer prebuilt AI frameworks and model templates.</li>
            <li>For deployment, once a model is trained, it can be quickly deployed on cloud servers or integrated into existing applications via APIs, ensuring smooth and efficient operation.</li>
            <li>For monitoring, cloud-based AI services provide real-time monitoring tools that track model performance. Key metrics can be closely monitored, allowing users to quickly identify and resolve any issues.</li>
        </ul>
        <form action="/" method="post">
            <p><input type="submit" value="back"></p>
        </form>
    </div>
</body>
